<footer class="footer">
  <div class="container">
    <div class="row mb-5 footer__row">
      <div class="col-sm-4 col-md-3">
        <a href="home.html" class="logo footer__logo">
          <svg width="160" height="30">
            <use xlink:href="assets/img/sprite.svg#logo-footer"></use>
          </svg>
        </a>
      </div>
      <div class="col-6 col-sm-4 col-md-3">
        <p class="footer__caption">Company</p>
        <ul class="footer__nav footer-nav">
          <li class="footer-nav__item"><a href="about.html" class="footer-nav__link">About</a></li>
          <li class="footer-nav__item"><a href="" class="footer-nav__link">Manufactures</a></li>
          <li class="footer-nav__item"><a href="catalog.html" class="footer-nav__link">Catalogue</a></li>
          <li class="footer-nav__item"><a href="news.html" class="footer-nav__link">News</a></li>
          <li class="footer-nav__item"><a href="contacts.html" class="footer-nav__link">Contact</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-4 col-md-3">
        <p class="footer__caption">For users</p>
        <ul class="footer__nav footer-nav">
          <li class="footer-nav__item"><a href="" class="footer-nav__link">Literature Downloads</a></li>
          <li class="footer-nav__item"><a href="" class="footer-nav__link">General Terms and Conditions</a></li>
          <li class="footer-nav__item"><a href="" class="footer-nav__link">Privacy Notice</a></li>
          <li class="footer-nav__item"><a href="" class="footer-nav__link">Imprint</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <p class="footer__caption">Contact Us</p>
        <a href="tel:1234567813" class="footer__phone">123 456 78 13</a>
        <a href="mailto:info@chnso.com" class="footer__email">info@chnso.com</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p class="footer__copyright">&copy; Official website of the online store</p>
      </div>
      <div class="col-sm-6">
        <div class="footer__develop">
          <p>Site development</p>
          <a href="https://akticom.ru/" class="footer__akticom" target="_blank">
            <svg width="122" height="26">
              <use xlink:href="assets/img/sprite.svg#acticom-logo"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
